.menuStick {
  background-color: $gray-dark;
  a {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-bottom: 4px solid #0095DA;
    background-color:transparent !important;
    border-radius: 0 !important;
  }
}
.stickyIE {
  position: -webkit-sticky;
  top: 0;
  &:before, &:after {
    content: '';
    display: table;
  }
}
.menuStick.sticky {
  background-color: $gray-fox;
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  transform: translateZ(0px);
  animation-duration: 3s;
  animation-name: slidein;
}
.menuStick-link .active + .NavToolbar {
display: block
}
//  Floating Video Start
.minimum-sticky, .minimum-sticky-16by9, .minimum-sticky-4by3 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.minimum-sticky-16by9 {
	min-height: 650px;
}
.minimum-sticky-4by3 {
	min-height: 565px;
}
.is-sticky {
  z-index: 1031;
}
@keyframes slidein {
  from {
    background-color: $gray-dark;
  }

  to {
    background-color: $gray-fox;
  }
}
.menuStick-link {
  margin-left: 15px;
  margin-right: 15px;
  &.active {
    position: relative;
    > a {
      &:after {
        @extend %active;
      }
    }
  }
}