.p-2.bg-gray-fox
.bg-black.py-3
  .container
    .row
      .col-md-12.col-xs-12.text-right
        include ../componentes/social-network.pug
      .col-md-3.col-xs-12
        p.white.text-uppercase.size--regular
          strong
            i.fa.fa-home
            |  MENU PRINCIPAL
      .col-md-3.col-xs-12
        p.white.text-uppercase.size--regular
          strong
            i.fa.fa-cog
            |  SERVIÇOS
        ul.list-unstyled
          li
            a.blue-play.size--regular(href='#') Como sintonizar
          li
            a.blue-play.size--regular(href='#') Dúvidas
          li
            a.blue-play.size--regular(href='#', role='button') Programação
          li
            a.blue-play.size--regular(href='#', role='button') Quem somos
      .col-md-6.col-xs-12
        p.white.text-uppercase.size--regular
          strong
            i.fa.fa-user
            |  Fale com a gente
        ul.list-unstyled
          li.cut.size--regular
            a.blue-play(href='tel:0800-612211')
              i.fa.fa-phone
              |  0800-612211
          li.cut.size--regular
            strong Endereço:
            br
            a.blue-play(href='https://www.google.com.br/search?q=Senado+Federal+Via+N2+-+Anexo+II+-+Bloco+B&npsic=0&rflfq=1&rlha=0&rllag=-15797243,-47863673,95&tbm=lcl&ved=2ahUKEwiBlY3l7MrdAhVEI5AKHeIjAbgQtgN6BAgDEAQ&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rldoc=1#rlfi=hd:;si:11714495236587268167;mv:!3m8!1m3!1d2072.015252813867!2d-47.86286140570178!3d-15.798583043921264!3m2!1i955!2i829!4f13.1', target='_blank')
              | TV SENADO - Senado Federal Via N2 - Anexo II - Bloco B – Subsolo Brasília - DF CEP: 70165-920
.bg-negative.p-2.cut.text-center.size--small
  span
    | Senado Federal - Praça dos Três Poderes - Brasília DF - CEP 70165-900 | Telefone: 0800 61 22 11
