ul.navbar-nav.ml-auto
  li.nav-item.text-uppercase.mx-2.size--regular
    a.nav-link.link--cut.current(href='/') Início
  li.nav-item.text-uppercase.mx-2.size--regular
    a.nav-link.link--cut(href='/plenario-e-comissoes') Plenário e Comissões
  li.nav-item.text-uppercase.mx-2.size--regular
    a.nav-link.link--cut(href='/senadores') Senadores
  li.nav-item.text-uppercase.mx-2.size--regular
    a.nav-link.link--cut(href='/programas') Programas
