ul.navbar-nav.ml-auto
  li.nav-item.text-uppercase.mx-2.size--regular
    block inicio
      a.nav-link.link--cut(href='/home.html') Início
  li.nav-item.text-uppercase.mx-2.size--regular
    block plenario
      a.nav-link.link--cut(href='/plenario-comissoes.html') Plenário e Comissões
  li.nav-item.text-uppercase.mx-2.size--regular
    block senadores
      a.nav-link.link--cut(href='/senadores.html') Senadores
  li.nav-item.text-uppercase.mx-2.size--regular
    block programas
      a.nav-link.link--cut(href='/programas.html') Programas
  li.text-uppercase.mx-2.size--regular
    block programacao
      .dropdown-dark
        .btn-group
          a.nav-link.link--cut.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Programação
          .dropdown-menu.left-inherit.size--regular
            a.dropdown-item(href='./programacao.html#grade') Grade
            a.dropdown-item(href='./programacao.html#sintonizar') Como Sintonizar