.NavGlobal
  .container
    .row.align-items-center
      .text-left.col
        a(href='http://www.senado.gov.br/')
          img(src='http://www.senado.gov.br/inc/essencial/img/senado.svg', alt='Senado Federal', height='23', width='170')
      .text-center.d-none.d-md-block.col
        a.link--cut.size--regular(href='http://www12.senado.gov.br/institucional/falecomosenado') Fale com o Senado
      .text-right.col
        .dropdown
          a.btn.negative-gutter--right.link--cut.size--regular.no--focus(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fa.fa-bars
            |  Portais
          .dropdown-menu.dropdown-menu--dark(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='http://www12.senado.leg.br/institucional/') Institucional
            a.dropdown-item(href='http://www25.senado.leg.br/web/senadores/') Senadores
            a.dropdown-item(href='http://www25.senado.leg.br/web/atividade/') Atividade Legislativa
            a.dropdown-item(href='http://www12.senado.leg.br/noticias/') Notícias
            a.dropdown-item(href='http://www12.senado.leg.br/publicacoes/') Publicação e Documentação
            a.dropdown-item(href='http://www12.senado.leg.br/orcamento/') Orçamento
            a.dropdown-item(href='http://www12.senado.leg.br/transparencia/') Transparência
            a.dropdown-item(href='http://www12.senado.leg.br/ecidadania/') e-Cidadania
