.box-live.box-fixed.box-b.box-r.box-load.p-2
  .text-right
    a.btn-link.white(href='#' title='Fechar permanente')
      i.fa.fa-times-circle
  a.btn.btn-danger(href='#' title='Assista ao vivo')
    i.fa.fa-circle.record-animation
    | &nbsp; ESTAMOS AO VIVO