.carousel-play
  #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.img-size-src.d-block.w-100(src='https://picsum.photos/1900/600?random=1', alt='...')
      .carousel-item
        img.img-size-src.d-block.w-100(src='https://picsum.photos/1900/600?random=2', alt='...')
      .carousel-item
        img.img-size-src.d-block.w-100(src='https://picsum.photos/1900/600?random=3', alt='...')
    a.carousel-control-prev(href='#carouselExampleFade', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
