.pb-3.row
  .col
    .bg-gray-dark.record.px-2.py-1.white(text='AO VIVO NA TV SENADO')
      .record-live.bg-red-cord
      span.size--small.ml-1.mr-1.font-weight-bold
        | AO VIVO NA TV SENADO
  .text-right.col-md-3
    include share.pug
.row
  .minimum-sticky-12
    .mb-3.no-gutter--xs.col-12
      #wrapper-iframe
        .text-center.white
          include videojs-mp4.pug