.parallax-window(data-parallax='scroll', data-image-src='https://picsum.photos/1280/760?random=1')
  .bg-gradient.parallax-caption
    .container
      h1.shadowc.white.size--large Lorem ipsum dolor sit amet
      p.shadowc.white.size--middle consectetur adipisicing elit. 
