.mb-3.no-gutter--xs.col-12
  .text-center.white
    .embed-responsive.embed-responsive-16by9
      video(src='../assets/intro-play.mp4', autoplay='', loop='')
    .p-3.w-100.position-absolute.psb-0.psl-0
      img.w-25.mb-3.d-none(src='/assets/logo.svg', alt='TV Senado')
      h2 Você está na rede do Senado Federal
      p.size--small.d-none
        | Essa mensagem ocorre apenas na rede do Senado Federal. para assistir ao vivo clique no botão abaixo, ou assista diretamente pelo youtube/tvsenado.
      p.size--small.d-none
        | O formato digital Advanced Stream Redirector (ASX) é um meta-arquivo XML que armazena uma lista de arquivos de medias do Microsoft Windows pra serem executados em uma apresentação, servindo como um atalho. Pode ser reproduzido no Windows Media Player
      a.btn.btn-success(href='http://zeadi2.senado.gov.br/tv.asx') Assista com Windows Media Player

