header#spy.zindex-fixed.menuStick.position-sticky.sticky-top.stickyIE
  .container
    .row
      ul.navsecplay.nav.nav-pills
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#canais-ao-vivo') Canais Ao vivo
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#destaques') Destaques
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#reforma-trabalhista') Reforma Trabalhista
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#programas') Programas
      button.btn-js.btn.btn-success.float-right.d-none.js-des destaques
      button.btn-js.btn.btn-success.float-right.d-none.js-refor reforma