header#spy.zindex-fixed.menuStick.position-sticky.sticky-top.stickyIE
  .container
    .row
      ul.navsecplay.nav.nav-pills
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#plenario') Plenário
          .NavToolbar.float-right
            select
              option 1
              option 2
              option 3
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#comissoes') Comissões
          .NavToolbar.float-right
            input(type='text')
