header#spy.zindex-fixed.menuStick.position-sticky.sticky-top.stickyIE
  .container
    .row
      ul.navsecplay.nav.nav-pills
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#plenario') Plenário
        li.menuStick-link.nav-item
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#comissoes') Comissões
