header.zindex-fixed.menuStick
  .container
    .row
      ul.navsecplay.nav
        li.menuStick-link.nav-item.active.nav-item(data-target='#canais-ao-vivo')
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#canais-ao-vivo') Canais Ao vivo
        li.menuStick-link.nav-item.nav-item(data-target='#destaques')
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#destaques') Destaques
        li.menuStick-link.nav-item.nav-item(data-target='#reforma-trabalhista')
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#reforma-trabalhista') Reforma Trabalhista
        li.menuStick-link.nav-item.nav-item(data-target='#programas')
          a.text-uppercase.font-weight-bold.size--regular.link--cut.nav-link(href='#programas') Programas
