ul.ml-auto.d-none.d-lg-block.navbar-nav.list-inline
  li.list-inline-item
    a.size--smiddle.mx-2.link--cut(href='https://www.facebook.com/tvsenado', target='_blank', title='Facebook')
      i.fa.fa-facebook
  li.list-inline-item
    a.size--smiddle.mx-2.link--cut(href='https://twitter.com/senadofederal', target='_blank', title='Twitter')
      i.fa.fa-twitter
  li.list-inline-item  
    a.size--smiddle.mx-2.link--cut(href='https://www.instagram.com/tvsenado/', target='_blank', title='Instagram')
      i.fa.fa-instagram
  li.list-inline-item  
    a.size--smiddle.link--cut.ml-2.mr-0(href='https://www.youtube.com/TVSenadoOficial', target='_blank', title='Youtube')
      i.fa.fa-youtube