.bg-gray-dark.pt-4.pb-4
  .container
    .row
      .col-md-6
        form.busca
          .form-group
            label.white(for='temporadas') 
              i.fa.fa-snowflake-o
              | &nbsp; Temporadas
            select#temporadas.form-control
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
      .col-md-6
        .form-group
          label.white(for='temporadas') 
            i.fa.fa-plus
            | &nbsp; Saiba mais
          div.btn-group
            a.btn.btn-outline-success.mr-1(href='#') INTRO
            a.btn.btn-outline-success.mr-1(href='#') INTRO
            a.btn.btn-outline-success.mr-1(href='#') INTRO
            a.btn.btn-outline-success.mr-1(href='#') INTRO