a.close-button(href='javascript:void(0);')
.gradient-overlay
i.fa.fa-arrows-alt(aria-hidden='true')
iframe.embed-responsive-item.featured-video(src='https://www.youtube.com/embed/OMor3aBxvQY?autoplay=1&rel=0&enablejsapi=1&fs=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
