doctype html  
html(lang='pt')  
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    title TV Senado
  body
    block header
      include partials/navGlobal.pug
      include componentes/busca-modal.pug
      .container
        include partials/header.pug
    block content
    block foot
      include partials/foot.pug
