extends index.pug
block plenario
  a.nav-link.link--cut.current(href='/plenario-comissoes.html') Plenário e Comissões
block content
  include componentes/hero.pug
  .divider.bg-blue-play
  .bg-gray-dark(style='position: relative')
    include componentes/navsec-pc.pug
    include componentes/cards-pc.pug