extends index.pug
block programas
  a.nav-link.link--cut.current(href='/programas.html') Programas
block content
  include componentes/aovivo.pug
  include componentes/carousel.pug
  .divider.bg-blue-play
  .bg-gray-dark
    include componentes/navsec.pug
    include componentes/cards.pug