extend index.pug
block content
  .bg-gray-dark
    .py-3.container.js-scroll-grade
      .row
        .col
          h1.shadowc.white.size--large.text-uppercase Grade
          p.cut.size--small.text-justify Programação completa da TV SENADO
    .divider.bg-blue-play
    .py-3.container
      .row
        .col
          h2.size--middle.cut 
            | 25 OUT 2018 &nbsp;
            span.btn.btn-outline-primary.btn-sm.flatpickr-input-agenda
              a.input-button(data-toggle)
                i.fa.fa-calendar
          .table-responsive
            table.table.table-striped.table-dark.table-hover
              thead
                tr
                  th(style='width: 60%;') Sinopse
                  th(style='width: 10%;') Horário
                  th(style='width: 30%;') Programa
              tbody
                tr
                  td
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  td 01:00
                  td Senadoc - Eu, Estranho Personagem
                tr
                  td
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  td 02:00
                  td Espaço Cultural - Mawaca
                tr
                  td
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  td 03:00
                  td Conversa de Músico - Vila-Lobos - Quarteto
    .py-3.container.js-scroll-sintonizar
      .row
        .col
          h1.shadowc.white.size--large.text-uppercase Como Sintonizar
          p.cut.size--small.text-justify
    .divider.bg-blue-play      
    .py-3.container
      .row
        .col-md-4
          .row
            .col-md-12
              p.border-bottom.white.m-0.pb-2.mb-3
                i.fa.fa-podcast
                |  Canais abertos UHF DIGITAL / ANALOGICO
            .col.cut
              dl
                dd Aracaju - 48.1
                dd Belo Horizonte - 61.3
                dd Boa Vista - 57.1 
                dd Brasília - 51.1 a 51.4 
                dd 
                  strong Cuiabá - 61.3 / Cuiabá – 31
                dd Florianópolis - 61.2
                dd Fortaleza - 61.2
                dd Gama – 51.1
                dd Goiânia - 61.3
                dd João Pessoa - 40.1
                dd Macapá - 57.1
                dd Maceió – 35.1
                dd Manaus - 55.1
                dd 
                  strong Natal - 51.2 / Natal – 18
                dd Palmas - 61.3
                dd Porto Alegre - 61.3
                dd Recife - 61.3
                dd 
                  strong Região Centro-Oeste / Região Centro-Oeste
                dd
                  strong Região Nordeste / Região Nordeste
                dd
                  strong Região Norte / Região Norte
                dd Região Sudeste
                dd Região Sul
                dd
                  strong Rio Branco - 61.3 / Rio Branco – 16
        .col-md-3
          .row
            .col-md-12
              p.border-bottom.white.m-0.pb-2.mb-3
                i.fa.fa-podcast
                |  Canais de TV por Assinatura
            .col.cut
              dl
                dd Asatel - 19
                dd Astro - 05
                dd Cabo Telecom - 106
                dd CaboNNet - 18
                dd Claro TV - 06
                dd CTBC TV - 693
                dd DTHi - 02
                dd GVT TV - 231
                dd NET - 25
                dd Nossa TV - 15
                dd Oi TV - 22 e 23 (satélite SES-6)
                dd Sim TV - 05
                dd Sky - 169
                dd TCM - 17
                dd TV Alphaville - 10
                dd TVN Canoas - 25
                dd TVN São Luís - 22
                dd ViaCabo - 07
                dd Vivo TV - 183 (cabo)
                dd Vivo TV - 197 (satélite)
                dd Vrasil - 385
        .col-md-5
          .row
            .col-md-12
              p.border-bottom.white.m-0.pb-2.mb-3
                i.fa.fa-podcast
                |  Recepção por parabólica 
            .col.cut
              dl
                dt 1 - SISTEMA DIGITAL
                dd Antena - 3,6m PID
                dd Áudio: 1211
                dd Áudio digital NTSC MPEG-2 DVB Symbol Rate - 3,2143 ms/s FEC - ¾
                dd Frequência: 3.644,4 MHz
                dd Frequência (Banda L): 1.505,75 MHz
                dd PCR: 1110 receptor de vídeo
                dd Polarização: vertical
                dd Satélite - C2 Transponder - 1 BE (banda estendida)
                dd.border
                dt 2 - SISTEMA ANALÓGICO
                dd Frequência: 4.130 MHz
                dd Polarização: horizontal
                dd Satélite - C2 Transponder - 11 A2
        .col-md-12
          p.border-bottom.white.m-0.pb-2.mb-3
            i.fa.fa-globe
            |  Pela internet
          p.cut.text-justify
            | A TV Senado transmite via internet até oito eventos simultâneos. As regras da transmissão seguem o previsto no Ato nº 21, de 2009, da Comissão Diretora do Senado que estabelece as normas para cobertura das atividades legislativas e eventos ocorridos no Senado Federal e no Congresso Nacional.
          p.cut
            | Veja pelo YouTube: 
            a(href='https://www.youtube.com/tvsenado', target='_blank') youtube.com/tvsenado
