extends index.pug
block programas
  a.nav-link.link--cut.current(href='/programas.html') Programas
block content
  include componentes/aovivo.pug
  include componentes/carousel.pug
  .border.white
  .bg-gray-dark.pt-4.pb-4
    .container
      .row
        .col
          form.busca
            .form-group
              label.white(for='todosprogramas') 
                i.fa.fa-television
                | &nbsp; Todos os programas
              select#todosprogramas.form-control
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
  .divider.bg-blue-play
  .bg-gray-dark
    include componentes/navsec.pug
    include componentes/cards.pug