extend index.pug
block content
  .bg-gray-dark
    .py-3.container#grade
      .row
        .col
          h1.shadowc.white.size--large.text-uppercase Grade
          p.cut.size--small.text-justify Programação completa da TV SENADO
    .divider.bg-blue-play
    .py-3.container
      .row
        .col
          h2.size--middle.cut 
            | 25 OUT 2018 &nbsp;
            span.btn.btn-outline-primary.btn-sm.flatpickr-input-agenda
              a.input-button(data-toggle)
                i.fa.fa-calendar
          .table-responsive
            table.table.table-striped.table-dark.table-hover
              thead
                tr
                  th(style='width: 60%;') Sinopse
                  th(style='width: 10%;') Horário
                  th(style='width: 30%;') Programa
              tbody
                tr
                  td
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  td 01:00
                  td Senadoc - Eu, Estranho Personagem
                tr
                  td
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  td 02:00
                  td Espaço Cultural - Mawaca
                tr
                  td
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  td 03:00
                  td Conversa de Músico - Vila-Lobos - Quarteto
    .py-3.container#sintonizar
      .row
        .col
          h1.shadowc.white.size--large.text-uppercase Como Sintonizar
          p.cut.size--small.text-justify
            | Para sintonizar a TV Senado em canal aberto no Padrão Brasileiro de TV Digital, é necessário um televisor com conversor embutido ou com um conversor externo, conhecido como Set Top Box. Para uma melhor recepção, é recomendado o uso de uma antena externa para a faixa de UHF, que pode ser adquirida em qualquer loja especializada.
    .divider.bg-blue-play      
    .py-3.container
      .row
        .col-md-6
          .row
            .col-md-12
              p.border-bottom.white.m-0.pb-2.mb-3
                i.fa.fa-podcast
                |  Canais abertos UHF DIGITAL / ANALÓGICO
            .col.cut
              dl.float-left
                dd
                  strong.blue-play 
                    i.fa.fa-flag
                    | &nbsp; Região Norte
                dd Belém – 45.1
                dd Manaus - 55.1
                dd Macapá - 57.1
                dd Boa Vista - 57.1
                dd Palmas - 44.3
                dd.red-cord Rio Branco – 16 (ANALÓGICO)
                dd
                  strong.blue-play 
                    i.fa.fa-flag
                    | &nbsp; Região Centro-Oeste
                dd Brasília - 51.1 a 51.4
                dd.red-cord Gama/DF - 36 (ANALÓGICO)
                dd Cuiabá – 30.3
                dd.red-cord Cuiabá – 56 (ANALÓGICO)
                dd Goiânia - 61.3
                dd 
                  strong.blue-play 
                    i.fa.fa-flag
                    | &nbsp; Região Nordeste
                dd Aracaju - 48.1
                dd Salvador - 61.3
                dd.red-cord Salvador - 53 (ANALÓGICO)
                dd Recife - 28.3
                dd.red-cord Recife - 55 (ANALÓGICO)
                dd Fortaleza - 61.2
                dd.red-cord Fortaleza - 43 (ANALÓGICO)
                dd Natal - 51.2
                dd.red-cord Natal - 52 (ANALÓGICO)
                dd João Pessoa - 40.1
                dd.red-cord João Pessoa - 40 (ANALÓGICO)
                dd São Luís - 51.1
                dd.red-cord São Luís – 51 (ANALÓGICO)
                dd Maceió – 35.1
                dd Barreiras/BA
                dd Patos/PB 14.1
              dl.float-right
                dd
                  strong.blue-play 
                    i.fa.fa-flag
                    | &nbsp; Região Sudeste
                dd Vitória 19.3
                dd São Paulo 61.3
                dd Assis/SP 31.4
                dd Barretos/SP 31.4
                dd Bauru/SP
                dd Botucatu/SP 61.4
                dd Campinas/SP 39.4
                dd Franca/SP 61.4
                dd Jacareí/SP
                dd Jaú/SP 34.4
                dd Jundiaí/SP 60.3
                dd Marília/SP 31.4
                dd Mogi das Cruzes/SP 61.3
                dd Piracicaba/SP 60.3
                dd Ribeirão Preto/SP 31.4
                dd São José do Rio Preto/SP 28.4
                dd Sorocaba/SP 31.4
                dd Belo Horizonte - 61.3
                dd Juiz de Fora/MG 35.4
                dd Lavras/MG 40.4
                dd Montes Claros/MG 27.4
                dd Pouso Alegre/MG 18.1
                dd Sete Lagoas/MG 46.4
                dd Uberaba/MG 61.4
                dd Uberlândia/MG 45.4
                dd Campos dos Goytacazes/RJ 19.4
                dd  
                  strong.blue-play 
                    i.fa.fa-flag
                    | &nbsp; Região Sul
                dd Porto Alegre - 61.3
                dd Bagé/RS 18.4
                dd Rio Grande/RS 47.4
                dd Santa Maria/RS 18.4
                dd Florianópolis - 61.3
        .col-md-3
          .row
            .col-md-12
              p.border-bottom.white.m-0.pb-2.mb-3
                i.fa.fa-podcast
                |  Canais de TV por Assinatura
            .col.cut
              dl
                dd Asatel - 19
                dd Astro - 05
                dd Cabo Telecom - 106
                dd CaboNNet - 18
                dd Claro TV - 06
                dd CTBC TV - 693
                dd DTHi - 02
                dd GVT TV - 231
                dd NET - 25
                dd Nossa TV - 15
                dd Oi TV - 22 e 23 (satélite SES-6)
                dd Sim TV - 05
                dd Sky - 169
                dd TCM - 17
                dd TV Alphaville - 10
                dd TVN Canoas - 25
                dd TVN São Luís - 22
                dd ViaCabo - 07
                dd Vivo TV - 183 (cabo)
                dd Vivo TV - 197 (satélite)
                dd Vrasil - 385
        .col-md-3
          .row
            .col-md-12
              p.border-bottom.white.m-0.pb-2.mb-3
                i.fa.fa-podcast
                |  Recepção por parabólica 
            .col.cut
              dl
                dt 1 - SISTEMA DIGITAL
                dd Antena - 3,6m PID
                dd Áudio: 1211
                dd Áudio digital NTSC MPEG-2 DVB Symbol Rate - 3,2143 ms/s FEC - ¾
                dd Frequência: 3.644,4 MHz
                dd Frequência (Banda L): 1.505,75 MHz
                dd PCR: 1110 receptor de vídeo
                dd Polarização: vertical
                dd Satélite - C2 Transponder - 1 BE (banda estendida)
                dd.border
                dt 2 - SISTEMA ANALÓGICO
                dd Frequência: 4.130 MHz
                dd Polarização: horizontal
                dd Satélite - C2 Transponder - 11 A2
        .col-md-12
          p.border-bottom.white.m-0.pb-2.mb-3
            i.fa.fa-globe
            |  Pela internet
          p.cut.text-justify
            | A TV Senado transmite via internet até oito eventos simultâneos. As regras da transmissão seguem o previsto no Ato nº 21, de 2009, da Comissão Diretora do Senado que estabelece as normas para cobertura das atividades legislativas e eventos ocorridos no Senado Federal e no Congresso Nacional.
          p.cut
            | Veja pelo YouTube: 
            a(href='https://www.youtube.com/tvsenado', target='_blank') youtube.com/tvsenado
